<!-- app/views/posts/show.html.erb -->
<div id="<%= dom_id post %>">
<%= link_to "Show this post", post, class: 'btn btn-outline-warning' %>

  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%#= post.user_id %>
    <%#= User.find(1).email %>
    <%#= User.find(post.user_id).email %>
    <%= @current_user %><br>

    <%#= post.comments.inspect%><br>

    <%#= @comments.inspect%><br><br>

    <%# post.comments.each do |ins|%>
      <%#= ins.inspect %><br>
    <%# end %>

    <%= render 'debcomment' %>
  </p>


<!-- Render existing comments -->
<h2>Commentsxx</h2>

<% if controller_name == 'posts' && action_name == 'show' %>
  <% @post.comments.each do |comment| %>

    <%= comment.content %> <br>
  <% end %>

  <%= render 'comments/cform', commentable: @post %>
<% end %>



  <%# <%= render 'comments/cform', commentable: @post %> %>

</div>
